# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Elisa Koon}
- {Julia Paddick}
- {Laura Garcia}
- {Grant Jeffery}
- {Kayla Araujo}
- {Alexandra Chama}

## Tasks

1. {Read the main article at home page}
2. {Go to product page by using nav}
3. {Use search bar}

---

## Individual Results & Observations

### {Elisa Koon}

- {She completed the tasks as expected}
- {She had trouble of using shortcut}

### {Julia Paddick}

- {She completed the task as expected}

### {Laura Garcia}

- {She completed the task as expected…}


### {Grant Jeffery}

- {He completed the task as expected…}


### {Kayla Araujo}

- {She completed the task as expected…}
- {Shee had trouble of find the search bar}

### {Alexandra Chama}

- {She completed the task as expected…}


---

## Trends

### Critical, Needs Fixing, Unable to Complete


### Serious, Causes Frustration, May Hinder Completion

- {Need an id on search bar}


### Minor, Annoying, Won’t Hinder Completion
