---
layout: default
title: Home
meta: "Covering everything clock-related: links, videos, photos, info."
showbanner : yes
---

<main role="main" id="main">
	<h1>Home</h1>
	
	<div class="grid ">
		<a href="#nav" class="nav-btn hide-text" data-state="inactive"></a>
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
			{% include promo-large.html title="Large bucket" desc="Best sale!" image="wall-clocks/clock.jpg" %}
		</div>
	
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2"	
		<p>It's time to show off your favorite art, photos, and text with a custom round wall clock from CLOCKS. Featured in two sizes, this wall clock is vibrantly printed with AcryliPrint®HD process to ensure the highest quality display of any content. Order this custom round wall clock for your walls or give to friends and family as a gift for a timeless treasure.</p>
		<p><a href="{{site.baseurl}}/physical/2013/06/13/creative-clocks/">More info...</a></p>
		</div>
	</div>
</div>	
			
<aside role="complementary" id="sidebar">		
	<div class="grid">
	
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Best Sale" desc="Timeworks' Alexandre Martinot wall clock is based on an original clock made in France. The rich wood tone against the aged brass rim and black ring will make this clock a handsome addition to your home.Hand assembled." image="wall-clocks/clock1.jpg" %}
			<p><a href="{{site.baseurl}}/physical/2013/09/13/timer/">More info...</a></p>
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Promo 2" desc="The dark Bond Street Wall Clock, with its aged hands and working internal pendulum, is designed after a London original. The rich tones and impressive 30 diameter help make a stately impression on any wall. Includes an internal pendulum and a separate second dial." image="wall-clocks/clock2.jpg" %}
			<p><a href="{{site.baseurl}}/physical/2013/05/13/wall-clocks/">More info...</a></p>
		</div>
	
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Promo 3" desc="This wall clock from Timeworks features large black Roman numbers on a parchment aged dial face with black spaded metal hands. Brass inner circular dial with moving pendulum. Hand assembled." image="wall-clocks/clock3.jpg" %}
			<p><a href="{{site.baseurl}}/physical/2013/08/13/wall-clock-with-pendulum/ ">More info...</a></p>
		</div>
	</div>
</aside>