---
layout: default
title: Home
meta: "Covering everything clock-related: links, videos, photos, info."
showbanner : yes
---

<main role="main" id="main">
	<h1>Home</h1>
	
	<div class="grid ">
	
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2">
			{% include promo-large.html title="Large bucket" desc="Best sale!" image="wall-clocks/clock.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-2"	
		<p>Clock.com provides the most widely used Web clock in the world with over 30 million views around the world. In addition, clocks can be set to display any time zone in the world online, so they are not only decorative but very practical as well. You can use our world clock to see all timezones of the world, and it's free to use. Use it to show what time it is in your area. There is no charge to use any of the clocks or for the world clock on your website or blog.</p>
		</div>
	</div>
</div>	
			
<aside role="complementary" id="sidebar">		
	<div class="grid">
	
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Promo 1" desc="Best sale!" image="wall-clocks/clock1.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Promo 2" desc="Another Best sale!" image="wall-clocks/clock2.jpg" %}
		</div>
	
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Promo 3" desc="Hot sale" image="wall-clocks/clock3.jpg" %}
		</div>
	</div>
</aside>