<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Layouts</title>
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
<link href="{{site.baseurl}}/../css/typography.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/media-object.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/header.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/footer.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/product.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/product-details.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/common.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/list-group.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/froms.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/bucket.css" rel="stylesheet">
<link href="{{site.baseurl}}/../css/images.css" rel="stylesheet">
</head>

<body>

<header>
<div  class="grid">
	<div class="unit unit-s-1 unit-m-1">
			<a href="#nav" class="nav-btn hide-text" data-state="inactive">Navigation</a>
			<nav class="nav nav-top" data-state="collapsed">
				
				<ul>
				<li class="list-group-item list-group-item-inline">
				<a href="{{site.baseurl}}/">Home</a>
				<li class="list-group-item list-group-item-inline">
				<a href="{{site.baseurl}}/about/">About</a>
				<li class="list-group-item list-group-item-inline">
         		<a href="{{site.baseurl}}/thank-you/">Thank you</a>
        </li>
				</ul>
		</nav>
	</nav>
</div>

{{content}}

<footer class="footer pad-t">
    <div class="unit unit-s-1 unit-m-1 unit-l-1-2 gutter-1-2">
      <p class="footer-copyright"><small>© 2014 Dinos ’R’ Us</small></p>
    </div>
    <div class="unit unit-s-1 unit-m-1 unit-l-1-2 gutter-1-2">
      <ul class="list-group footer-links">
        <li class="list-group-item list-group-item-inline">
          <a href="#" class="icon-link icon i-16 i-facebook ir">Facebook</a>
        </li>
        <li class="list-group-item list-group-item-inline">
          <a href="#" class="icon-link icon i-16 i-twitter ir">Twitter</a>
        </li>
        <li class="list-group-item list-group-item-inline">
          <a href="#" class="icon-link icon i-16 i-googleplus ir">Google+</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>